@use 'colors';
@use 'mixins';
@use 'sizes';

.root {
  height: 72px;
  border-bottom: 1px solid colors.$divider;

  .inner {
    @include mixins.max-width;

    height: 100%;
    display: flex;
    align-items: center;

    p.name {
      font-family: 'Fugaz One', cursive;
      color: colors.$primary-text;
      text-decoration: none;
      font-weight: bold;
      margin-right:sizes.$big-spacing;
    }

    .nav {
      list-style-type: none;

      li {
        display: inline;
        margin-left: 0;

        &:not(:last-child) {
          margin-right: sizes.$default-spacing;
        }

        a {
          text-decoration: none;
          color: colors.$primary-text;

          &.active {
            font-weight: bold;
            color: colors.$primary;
          }

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
