@use 'colors';
@use 'sizes';

.root {
  p {
    text-align: justify;
    color: colors.$secondary-text;
    
    &:not(:last-child) {
      margin-bottom: sizes.$default-spacing;
    }
  }

  a {
    text-decoration: none;
    color: colors.$primary;
  }
}
