@use 'colors';
@use 'sizes';

.root {
  p {
    margin-top: sizes.$small-spacing;
    text-align: justify;
    color: colors.$secondary-text;
  }

  a {
    text-decoration: none;
    color: colors.$primary;
  }
}
