@use 'colors';
@use 'mixins';
@use 'sizes';

.root {
  @include mixins.max-width;

  article {
    h2 {
      margin: sizes.$default-spacing 0;
    }

    p {
      color: colors.$secondary-text;

      &:not(:last-child) {
        margin-bottom: sizes.$default-spacing;
      }
    }

    a {
      color: colors.$primary;
      text-decoration: none;
    }

    li {
      color: colors.$secondary-text;
    }
  }
}
