@use 'colors';
@use 'mixins';
@use 'sizes';

.root {
  @include mixins.bordered;

  &:not(last-child) {
    margin-bottom: sizes.$default-spacing;
  }

  a.title {
    font-family: 'Fugaz One', cursive;
    font-size: sizes.$big-font;
    color: colors.$primary-text;

    &:hover {
      color: colors.$primary;
    }
  }

  p.meta {
    text-transform: uppercase;
    color: colors.$tertiary-text;
    font-size: sizes.$small-font;
  }

  p.description {
    color: colors.$secondary-text;
    margin: sizes.$small-spacing 0;
  }

  a {
    text-decoration: none;
    color: colors.$primary;
  }
}
