@use 'breakpoints';
@use 'colors';
@use 'sizes';

.root {
  .articlesGrid {
    margin-top: sizes.$default-spacing;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: sizes.$default-spacing;

    @media (min-width: breakpoints.$tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
